@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat&family=Style+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Style+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #051937, #041e41, #03234c, #022857, #002d62);
  color: aliceblue;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Section for Header */
.Header {
  font-family: 'Style Script', cursive;
  top: 0px;
  position: absolute;
}

.Description {
  box-sizing: border-box;
  border: none;
  margin: 2%;
  border-radius: 1.7rem;
  background-image: linear-gradient(to right top, #29ab87, #008e90, #006e90, #004e80, #002d62);
  box-shadow: 2px 0px 44px 14px rgba(237, 237, 237, 0.6);
  -webkit-box-shadow: 2px 0px 44px 14px rgba(237, 237, 237, 0.6);
  -moz-box-shadow: 2px 0px 44px 14px rgba(237, 237, 237, 0.6);
}

.Link {
  color: #002D62;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

.Home_End {
  box-sizing: border-box;
  border: none;
  border-radius: 1.7rem;
  box-shadow: 2px 0px 44px 14px rgba(237, 237, 237, 0.6);
  -webkit-box-shadow: 2px 0px 44px 14px rgba(237, 237, 237, 0.6);
  -moz-box-shadow: 2px 0px 44px 14px rgba(237, 237, 237, 0.6);
}